.HeaderWrapper {
  display: flex;
  align-items: center;
  padding-bottom: 50px;
  max-width: 1400px;
  margin: 0 auto;

  .Logo {
    display: flex;
    width: 187px;
    height: 23px;
    margin-right: 90px;
    cursor: pointer;
  }

  .LinkHover {
    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #000;
      opacity: 0;
      transition: all .3s ease;
    }
    

    &:hover::after {
      opacity: .6;
    }
  }

  .NavBar {
    display: flex;
    width: 500px;
    justify-content: space-around;

    .NavLink {
      text-transform: uppercase;
      cursor: pointer;
      color: #000;
      margin-right: 50px;
      position: relative;
    }
  }

  .NavIcons {
    display: flex;
    justify-content: end;
    width: 100%;

    .SvgLinkWrapper {
      margin-left: 35px;
      width: 20px;
      height: 20px;
      cursor: pointer;
    }

    .CartQuantity {
      margin-left: 10px;
    }
  }
}
